$brand-primary: #212A37;
$brand-secondary: #F9FCFD;
$brand-accent: #1CE382;

$background-primary: $brand-primary;
$background-secondary: #1E2632;
$background-tertiary: #1A222C;

$content-primary: $brand-secondary;
$content-secondary: #E0E3E4;
$content-tertiary: #C7CACA;

$inter_regular: 400 1rem Inter;
$inter_medium: 500 1rem Inter;