PAYLOAD_FORMAT_INDICATOR=01

MERCHANT_NAME=
MERCHANT_CITY=
MERCHANT_COUNTRY=
MERCHANT_CATEGORY_CODE=0000
MERCHANT_ACCOUNT_INFORMATION_CODE=27
PAYMENT_NETWORK_SPECIFIC_CODE=01

# pix key
PAYMENT_NETWORK_SPECIFIC=

TRANSACTION_CURRENCY=986

GLOBALLY_UNIQUE_IDENTIFIER=BR.GOV.BCB.PIX

PORT=8081