@import 'styles/theme.scss';

.container {
  height: 100%;
  padding: 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;
  background-color: $background-tertiary;

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .form_input_grouper {
    display: flex;
    flex-direction: column;
    position: relative;

    input,
    textarea {
      &:focus,
      &:active,
      &:not(:placeholder-shown) {
        & {
          &::placeholder {
            opacity: 1;
            transition-delay: .20s;
          }
          &:-ms-input-placeholder {
            opacity: 1;
          }
          &::-webkit-input-placeholder {
            opacity: 1;
          }
        }

        ~label {
          transform: translate(0, -0.9rem) scale(0.9);
        }
      }
    }

    label {
      font-size: 0.625rem;
      position: absolute;
      transform-origin: left;
      transform: translate(0.75rem, 0.6rem);
      transition: .425s transform $animation-ease-out;
    }
  }

  .observation {
    font-size: 0.5rem;
    text-align: end;
    color: $content-tertiary
  }
}