@import 'styles/theme.scss';

.container {
  padding: 0.75rem 0.5rem;
  display: grid;
  grid-template-areas: 'pic name message value';
  grid-template-columns: auto 5fr auto 2fr;
  align-items: center;
  justify-content: center;
  position: relative;

  .image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
  }

  .username {
    padding-left: 1.5rem;
    padding-right: 2rem;
    word-break: break-all
  }
  
  .messageWrapper {

    .messageIcon {
      width: 100%;
      color: $brand-accent;
      cursor: pointer;

      &:hover {
        ~.message {
          opacity: 1;
          visibility: visible;
          z-index: 2;
          top: 80%;
        }
      }
    }

    .message {
      position: absolute;
      opacity: 0;
      max-width: 21.875rem;
      top: 60%;
      visibility: hidden;
      border-radius: 0.25rem;
      background-color: $background-tertiary;
      transition: opacity .2s ease-out,
                  top .3s ease-out,
                  visibility .3s ease;

      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      
      p {
        font-size: 0.75rem;
        line-height: 1.15rem;
        padding: 0.875rem;
        color: $content-tertiary
      }
    }
  }

  .value {
    text-align: end;
    padding-left: 0.75rem;
    font-size: 0.875rem;
  }
}