@import 'styles/theme.scss';

textarea {
  height: 5rem;
  padding: 0.375rem 0.75rem;
  border: 0.063rem solid $content-secondary;
  border-radius: 0.125rem;
  font-size: 0.75rem !important;
  background-color: transparent;
  transition: .3s all ease-out;
  resize: none;
  outline: none;
  
  &:focus,
  &:not(:placeholder-shown) {
    border-color: $brand-accent;
  }
}